# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
.env
env/

# Logs & storage
logs/
storage/
*.sqlite
*.db

# Data to ingest
data/raw_docs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/